<div class="counter">
    <button (click)="decrement()">
      Decrement
    </button>
    <input type="text" [value]="count">
    <button (click)="increment()">
      Increment
    </button>
  </div>
